* {
  margin: 0px;
  padding: 0px;
}

.App {
  width: 100%;
  height: 100%;
  background-color: #0f0e17;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  padding: 45px 25px;
}

.navBarLogo{
  width: 10%;
}

.logoNavBar{
  width: 50%;
  filter: invert(56%) sepia(29%) saturate(2765%) hue-rotate(356deg) brightness(103%) contrast(102%);
}

.navBarLinks {
  width: 70%;
  display: flex;
  justify-content: end;
}

.collapseButton{
  border: white;
  color: white;
}

.navbar-toggler {
  filter: invert(60%) sepia(14%) saturate(6441%) hue-rotate(354deg) brightness(102%) contrast(105%);
}

.navbar-toggler-icon{
  color: white;
  border: solid white 3px;
  border-radius: 25%;
}


/* NAVBAR BUTTON */

.buttonNavBar {
  padding: 0px 25px;
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.buttonNavBar:focus,
.buttonNavBar:hover {
  color: #fff;
  background-color: transparent;
}

.buttonNavBar:focus:after,
.buttonNavBar:hover:after {
  width: 100%;
  left: 0%;
}

.buttonNavBar:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/*   NAVBAR BUTTON END */


.firstPart{
  display: flex;
  
}