* {
  margin: 0px;
  padding: 0px;
}

.App {
  width: 100%;
  height: 100%;
  background-color: white;
  padding-top: 25vh;
  padding-bottom: 20vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  padding: 45px 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-bottom: 2px #ff4e0889 solid;
  z-index: 999;
}

.navBarLogo {
  width: 10%;
}

.logoNavBar {
  width: 50%;
  filter: invert(56%) sepia(29%) saturate(2765%) hue-rotate(356deg)
    brightness(103%) contrast(102%);
}

.navBarLinks {
  width: 70%;
  display: flex;
  justify-content: end;
}

/* NAVBAR BUTTON */

.buttonNavBar {
  padding: 0px 25px;
  font-size: 18px;
  color: grey;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.buttonNavBar:focus,
.buttonNavBar:hover {
  color: black;
  background-color: transparent;
}

.buttonNavBar:focus:after,
.buttonNavBar:hover:after {
  width: 100%;
  left: 0%;
}

.buttonNavBar:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: black;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.active {
  color: rgba(0, 0, 0, 0.879);
  transform: scale(1.1);
}

/*   NAVBAR BUTTON END */

.subtitle {
  font-size: 35px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-style: oblique;
  margin: 25px 0px;
}

.firstPart {
  width: 100%;
  height: 100vh;
  align-items: center;
}

.sayHi {
  color: #ff4c08;
  font-family: inherit;
  font-weight: lighter;
  text-align: center;
}

.img-responsive {
  width: 100%;
  object-fit: cover;
}

.mernPart {
  display: flex;
  justify-content: center;
}

.presentationText {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 25px;
  display: flex;
  text-align: center;
}

/*PRESENTATION BUTTON*/

.learn-more {
  width: 17rem;
  height: auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ff8656;
  border-radius: 1.625rem;
}

.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.learn-more:hover .circle {
  width: 100%;
}

.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.learn-more:hover .button-text {
  color: #fff;
}
/*PRESENTATION BUTTON END*/

/* ABILITYs CARD*/

.cardAbility {
  background-color: #ff7f4df2;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
  min-height: 300px;
  margin-top: 35px;
  color: white;
  border-radius: 10%;
  transition: 300ms;
}

.cardAbility:hover {
  transform: scale(1.1);
  transition: 300ms;
}

.footer {
  height: 150px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer h3 {
  color: rgba(255, 255, 255, 0.578);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  text-align: center;
}

.iconsContainerFooter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconsFooter {
  color: white;
  margin: 0px 15px;
  font-size: 35px;
}

.iconsFooter:hover {
  transform: scale(1.2);
  transition: 300ms;
  opacity: 0.8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.textAboutMe {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 25px;
  padding-bottom: 50px;
}

.myPhoto {
  border: 4px solid #ff7f4df2;
  border-radius: 10%;
  padding: 0px;
  height: 80%;
  object-fit: cover;
}

.carouselEducation {
  height: 450px;
  border: #ff7f4df2 solid 1px;
  width: 100%;
}

.carouselEducation h3,
.carouselEducation p {
  color: black;
}

.imgContainerCarouselEduc {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgEducationAboutMe {
  width: 100%;
  height: 350px;
  transform: scale(0.3);
  object-fit: contain;
  margin-bottom: 55px;
}

.containerEducationList {
  background-color: #ff7f4df2;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 5% 5%;
  padding: 25px;
  color: white;
  margin: 0px;
  margin-bottom: 50px;
}

.containerEducationList h4 {
  text-decoration: underline;
}

.containerEducationList li {
  list-style: none;
  padding: 5px;
}

/* Projects Page  */

.projectsGroup {
  min-height: 50vh;
  margin: 0;
  padding: 0;
  background-color: #ff7f4df2;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);  
  border-radius: 10px 10px 10px 6px;
}

.projectsGroup h4 {
  height: 20%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: oblique;
}

.projectsGroup div {
  height: 80%;
  margin: 0;
}

.projectItem {
  margin: 0;
  padding: 0;
  text-decoration: none;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
  transition: 400ms;
}

.projectItem:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
  transition: 400ms;
  z-index: 99;
  color: white;
}

.leap-frog {
  --uib-size: 40px;
  --uib-speed: 2s;
  --uib-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-size);
}

.leap-frog__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.leap-frog__dot::before {
  content: "";
  display: block;
  height: calc(var(--uib-size) * 0.22);
  width: calc(var(--uib-size) * 0.22);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
}

.leap-frog__dot:nth-child(1) {
  animation: leapFrog var(--uib-speed) ease infinite;
}

.leap-frog__dot:nth-child(2) {
  transform: translateX(calc(var(--uib-size) * 0.4));
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5)
    infinite;
}

.leap-frog__dot:nth-child(3) {
  transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3) infinite;
}

@keyframes leapFrog {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  33.333% {
    transform: translateX(0) rotate(180deg);
  }

  66.666% {
    transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

/* END Projects Page  */

/* Contact Page */

.mainContainerContact {
  display: flex;
  margin: 30px 0px 50px 0px;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 15px 50px;
}

.contactForm {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #ff7f4df2;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 6px;
-webkit-border-radius: 10px 10px 10px 6px;
-moz-border-radius: 10px 10px 10px 6px;
}

.top,
.bottom {
  gap: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.itemContact {
  width: 15vw;
  height: 30vh;
  background-color: white;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  transition: 400ms;
  box-shadow: -2px 1px 24px -7px rgba(0, 0, 0, 0.58) inset;
  -webkit-box-shadow: -2px 1px 24px -7px rgba(0, 0, 0, 0.58) inset;
  -moz-box-shadow: -2px 1px 24px -7px rgba(0, 0, 0, 0.58) inset;
}

.item1 {
  border-radius: 30vh 10px 10px 10px;
  color: #14191e;
}

.item2 {
  border-radius: 10px 30vh 10px 10px;
  color: #0077b5;
}
.item3 {
  border-radius: 10px 10px 10px 30vh;
  color: #d6249f;
}
.item4 {
  border-radius: 10px 10px 30vh 10px;
  color: #4267b2;
}

.itemContact:hover {
  transform: scale(1.09);
  transition: 500ms;
  z-index: 9;
  cursor: pointer;
}

.item1:hover {
  background-color: #14191e;
  color: white;
}

.item2:hover {
  background-color: #0077b5;
  color: white;
}

.item3:hover {
  background-color: #cc39a4;
  color: white;
}

.item4:hover {
  background-color: #4267b2;
  color: white;
}

/* Contact Page END */

@media screen and (max-width: 767px) {
  .firstPart {
    height: fit-content;
  }
  .logoNavBar {
    width: 100%;
  }
  .mernPart {
    padding: 25px;
  }
  .myPhoto {
    height: auto;
  }
}

@media screen and (max-width: 1278px) {
  .itemContact {
    width: 35vh;
    height: 25vh;
  }
}

